---
import "../styles/leftNav.scss";
import { Content as ShortBio } from "../content/partials/shortBio.md";
import links from "../data/links";
import { Image } from "astro:assets";
import portrait from "../assets/self.png";

const target = Astro.url.pathname === "/" ? "/about/" : "/";
---

<nav class="side-nav">
  <div class="side-nav-content">
    <a href={target} class="portrait">
      <Image src={portrait} alt="portrait" class="portrait" />
    </a>
    <div class="me">
      <div class="titleContainer">
        <h1 class="title">
          <a href={target}>Michael Zhang</a>
        </h1>
      </div>
      <div class="links">
        {
          links.map((link) => {
            return (
              <a href={link.url} title={link.description}>
                {link.name}
              </a>
            );
          })
        }
      </div>
    </div>

    <div class="bio">
      <ShortBio />
      <a href="/about/">More &raquo;</a>
    </div>
  </div>
</nav>
